@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Brinnan";
  src: url("../asset/brinnanFont/Brinnan\ Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Brinnan";
  src: url("../asset/brinnanFont/Brinnan\ Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Brinnan";
  src: url("../asset/brinnanFont/Brinnan\ Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #00c6f4;
}

::-webkit-scrollbar-thumb:hover {
  background: #fdc506;
}
